# Database Configuration
DB_PORT=ENTER_YOUR_VALID_VALUE
DB_PASSWORD=ENTER_YOUR_VALID_VALUE
DB_NAME=ENTER_YOUR_VALID_VALUE

# Wiki Configuration
WIKI_PORT = ENTER_YOUR_VALID_VALUE
WIKI_AND_DB_USERNAME = ENTER_YOUR_VALID_VALUE
WIKI_PASSWORD=ENTER_YOUR_VALID_VALUE